*,
*::after,
*::before  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  width: auto;
  height: 100%;
}

.primaryText {
  font-family: Inconsolata;
  font-size: 48px;
  font-weight: 700;
  text-align: left;
  color: #191919;
}

.secondaryText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}
.productCount {
  font-family: Inter;
  font-size: 32px;
  font-weight: 400;
  text-align: left;
}

.title::after {
  content: ".";
  color: red;
}

.cart {
  position: relative;
}

.badge {
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: -50%;
  right: -50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #e23000;
}

.badge > span {
  position: absolute;
  right: 35%;
  top: 15%;
  font-size: 14px;
  color: #ffffff;
}

.sectionTitle {
  font-weight: 500;
  font-size: 40px;
}

.more {
  color: #e73c17;
  padding-left: 0.5rem;
  cursor: pointer;
}

.originalPrice {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  color: #d9d9d9;
  text-decoration: line-through;
}
